@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff00;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #828ca8;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a3aeca;
}
